# Compiled files
*.tfstate
*.tfstate.backup
tf

# Module directory
.terraform/

.DS_Store

cloudflare/.terraform/**
cloudflare/*.tfvars
heroku/.terraform/**
heroku/*.tfvars

# Lambda zip package
production/files/lambda/dist/*
